<section class="success" id="about">
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>welcome to our Game website</p>
                </div>
                <div class="col-lg-4">
                    <p>
                      True gamers don’t just want to enjoy only the game’s experience; they want to know who makes the game,
                      the video game company history, and the inspiration behind a video game.
                      We provide informations about best games to try.Checkout the games details for more info.
                    </p>
                </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="thumbnail">
                  <%= image_tag ('cover/me.jpg')%>
                  </div>
                  <blockquote class="pull-right">
                    <p>Success is a state of mind.
                      If you want success, start thinking
                      of yourself as a success</p>
                    <small>by <cite><i>Maniking</i></cite></small>
                  </blockquote>

            </div>
          </div>
          </div>


</section>
